[user]
	name = Anid Monsur
	email = ginovva320@gmail.com
[init]
	defaultBranch = main
[pull]
	ff = only
[fetch]
	prune = true
[alias]
	up = "!git remote update -p; git merge --ff-only @{u}"
[url "git@github.com:"]
	insteadOf = https://github.com/
